.Logo {
    background: #21aeda;
    padding: 24px 36px;
    box-shadow: 0 1px 5px -1px rgb(197, 197, 197);
    
    a {
      font-size: 24px;
      font-weight: bold;
      text-decoration: none;
      color: #252525;
      transition: .3s;
    }
    a:hover {
      color: dodgerblue;
    }
  }

  .input {
    border: 1px solid #333;
    border-radius: .3em;
    padding: .25rem;
    width: 7em;
  }
  
  select {
    margin-left: .5rem;
  }

  .footer {
    background:  dodgerblue;
    padding: ''
}
  
  
  .Wrapper {
    padding: 0 32px;
    max-width: 1366px;
    margin: 24px auto;
  
    .Cards {
      width: 24%;
      margin: 12px .5% 0 .5%;
      float: left;
      text-align: center;
      cursor: pointer;
  
      .Material {
        transition: .3s;
        background: #ffffff;
        color: #252525;
        height: 420px;
        padding: 32px 24px;
        box-shadow: 0px 1px 5px rgb(197, 197, 197);
        img {
          height: 124px;
          width: auto;
        }
        h2, h3 {
          transition: .3s;
        }
        a.price {
          text-decoration: none;
          font-weight: bold;
          transition: .2s;
        }
        a.price:hover {
          font-size: 18px;
        }
        a.price:hover::before {
          content: '‹ ';
        }
        a.price:hover::after {
          content: ' ›';
        }
      }
  
      .Material:hover {
        box-shadow: 0px 1px 6px rgb(77, 77, 77);
        h2 {
          color: dodgerblue;
        }
        h3 {
          color: rgb(0, 179, 0);
        }
      }
    }
  }
  
  @media screen and (max-width:1024px) {
    .Logo {
      padding: 24px;
    }
    .Wrapper {
      padding: 0 22px;
      .Cards {
        width: 32.3%;
        margin: 12px .5% 0 .5%;
      }
    }
  }
  
  @media screen and (max-width:768px) {
    .Wrapper {
      .Cards {
        width: 49%;
        margin: 12px .5% 0 .5%;
      }
    }
  }

 
  
  @media screen and (max-width:600px) {
    .Wrapper {
      .Cards {
        width: 99%;
        margin: 12px .5% 0 .5%;
        flex-grow: 3;
      }
    }
  }